@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-aileron-regular: Arial, Helvetica, sans-serif; /* Fallback */
  --font-aileron-bold: Arial, Helvetica, sans-serif; /* Fallback */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-aileron-regular);
}

/* Example usage */
h1,
.font-bold {
  font-family: var(--font-aileron-bold);
}

html body[data-scroll-locked] {
  overflow-y: scroll !important;
  margin-right: 0px !important;
}
